node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
todos.json

/generated/prisma
gcm-diagnose.log
GitHub
_api_logs/
_ui_logs/
*-logs.zip
*-current.zip
